<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cristo Redentor</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sudeste.css">
</head>
<body>
    <header class="main-header">
        <div class="header-title">DESTINOS INCRÍVEIS</div>
        <div class="header-home" data-target="../index.html">Home</div>
    </header>
    <section class="section-header">
        <h1>CRISTO REDENTOR</h1>
    </section>
    <div class="content-container">
        <div class="grid-container">
            <div class="grid-item">
                <img src="../imagens/Cristo_Redentor/Imagem 1.jpg" alt="Imagem 1">
            </div>
            <div class="grid-item description">
                Localizada no topo do morro do Corcovado, a 709 metros acima do nível do mar, a estátua foi projetada por Heitor da Silva Costa e inaugurada em 1931.
            </div>
            <div class="grid-item description">
                O monumento mede aproximadamente 30 metros de altura, incluindo seu pedestal. Seus braços se estendem por 28 metros de largura.
            </div>
            <div class="grid-item">
                <img src="../imagens/Cristo_Redentor/Imagem 4.jpg" alt="Imagem 2">
            </div>

            <div class="grid-item">
                <img src="../imagens/Cristo_Redentor/Imagem 3.jpg" alt="Imagem 3">
            </div>
            <div class="grid-item">
                <img src="../imagens/Cristo_Redentor/Imagem 2.jpg" alt="Imagem 4">
            </div>
            <div class="grid-item">
                <img src="../imagens/Cristo_Redentor/Imagem 5.jpg" alt="Imagem 5">
            </div>
            <div class="grid-item description">
                Em 2007, foi eleito uma das Sete Maravilhas do Mundo Moderno em uma votação global. Também foi declarado Patrimônio Histórico da Humanidade em 2009 pela UNESCO.
            </div>
            <div class="grid-item">
                <img src="../imagens/Cristo_Redentor/Imagem 6.jpg" alt="Imagem 6">
            </div>
            <div class="grid-item description">
                A única parte do interior, é o coração, que mede 1,30 metro.
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const clickableImages = document.querySelectorAll(".header-home[data-target]");

            clickableImages.forEach(image => {
                image.addEventListener("click", () => {
                    const targetUrl = image.getAttribute("data-target");
                    window.location.href = targetUrl;
                });
            });
        });
    </script>
</body>
</html>
